* {
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(242, 137, 98);
}
.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 100vh;
  align-items: center;
}

.container .cards {
  border: 1px solid black;
  width: 300px;
  height: 500px;
  background-color: aliceblue;
  border-style: none;
  border-radius: 30px;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
button {
  background-color: rgb(246, 33, 33);
  color: white;
  padding: 5px;
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
  margin-top: 10px;
  font-size: larger;
  border-style: none;
}

#span1 {
  font-size: 40px;
  color: red;
}
.euro {
  font-style: italic;
  font-size: 30px;
  color: red;
}
.left h3 {
  color: rgb(246, 33, 33);
  padding-bottom: 10px;
}

div ul {
  text-align: left;
}

select {
  border-style: none;
  background-color: aliceblue;
  font-size: 20px;
  font-weight: bold;
}

.middle h3 {
  color: blueviolet;
  padding-bottom: 10px;
}

.middle button {
  background-color: blueviolet;
  color: blueviolet;

  color: white;
  padding: 5px;
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
  margin-top: 10px;
  font-size: larger;
}

#span2 {
  font-size: 40px;
  color: blueviolet;
}

.euro1 {
  color: blueviolet;
  font-style: italic;
  font-size: 30px;
}

.euro2 {
  color: gold;
  font-style: italic;
  font-size: 30px;
}

.right h3 {
  color: gold;
  padding-bottom: 10px;
}

.right button {
  background-color: gold;
  color: white;
  padding: 5px;
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
  margin-top: 10px;
  font-size: larger;
}

#span3 {
  font-size: 40px;
  color: gold;
}

.cards .middle:hover,
select:hover {
  background-color: lightcyan;
}
.left:hover,
select:hover {
  background-color: lightcyan;
}
.cards .right:hover , select:hover {
  background-color: lightcyan;
}

.tick {
  color: green;
  font-weight: bold;
}
.tickx {
  color: red;
  font-style: italic;
  font-weight: bold;
}
